In [12]:
import pandas as pd
import numpy as np
import Rating as rt
from Rating import Subject
samp = pd.read_csv('csv/sample.csv')
samp

,index,Code,Courses,Units,TIME,M,TU,W,TH,F
0,0,ISM 203,Applied Computer Graphics,3,9-10AM,ISM 210 - Lab 2,-,GST 204 - ZARIA,Za - ENT 202,Lab 2 - ISM 204
1,1,ISM 204,Introduction to Image Processing & Application,3,10-11AM,ISM 210 - Lab 2,-,ISM 212 - ZARIA,Za- ENT 202,Lab 2 - ISM 204
2,2,ISM 206,Introduction to Multimedia Scripting,3,11-12PM,GST 204 - ZARIA,GST 203 - ZARIA,ISM 212 - ZARIA,-,Lab 2 - ISM 204
3,3,ISM 208,Multimedia Database System,2,12-1PM,GST 204 - ZARIA,GST 203 - ZARIA,-,ISM 210 - Lab 2,ISM 206 - Lab 2
4,4,ISM 210,Mobile-Based Technologies and Multimedia,3,1-2PM,-,-,-,-,-
5,5,ISM 212,Statistics and Probabilities,2,2-3PM,-,ISM 203 - Lab 2,ISM 208 - Lab 2,-,ISM 206 - Lab 2
6,6,GST 204,"Peace Studies, Conflict Resolution and General...",3,3-4PM,-,ISM 203 - Lab 2,ISM 208 - Lab 2,-,ISM 206 - Lab 2
7,7,GST 203,Communication in English IV,2,4-5PM,-,ISM 203 - Lab 2,-,ISM 210 - Lab 2,-
8,8,ENT 202,Entrepreneurship II,2,5-6PM,-,-,-,-,-

# Pre processing

In [13]:
table1 = pd.read_csv("TimetablesB.csv", index_col= 0) # reference dataset for normalising could move to the function def
table1 = table1.drop(['Rating'], axis = 1)

table1 = rt.de_nan(table1)
table1.head()

,C/semester,total sessions,sess/popday,Number of Blocks,Block/pday,Avergae Block size,Norm Block,Early Sessions,Late/day,Combined Score,Score based Rating,Avg Break
0,9,23,4.6,10,2.0,2.300000,0.2500,4,1.666667,0.0,0.0,1.20
1,10,23,4.6,9,1.8,2.555556,0.2500,5,1.000000,0.0,0.0,1.75
2,7,16,4.0,6,1.5,2.666667,0.2500,3,1.000000,0.0,0.0,3.00
3,5,12,3.0,4,1.0,3.000000,0.2500,1,2.000000,0.0,0.0,0.00
4,5,12,2.4,5,1.0,2.400000,0.0625,1,0.000000,0.0,0.0,0.00

In [14]:
samp = rt.timetable_to_values(samp)
samp

,C/semester,total sessions,sess/popday,Number of Blocks,Block/pday,Avergae Block size,Norm Block,Early Sessions,Late/day,Avg Break,Combined Score,Score based Rating
1,9,23,4.6,10,2.0,2.4,4,4,1.25,1.6,NaN,NaN

In [15]:
samp = rt.de_nan(samp)
samp = rt.normnew(table1,samp)

samp

c:\Users\bolup\OneDrive\Documents\Projizzles\Rating.py:164: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace(np.nan, 0)

,Avergae Block size,Avg Break,Block/pday,C/semester,Combined Score,Early Sessions,Late/day,Norm Block,Number of Blocks,Score based Rating,sess/popday,total sessions
1,0.253333,0.457143,1.0,0.714286,NaN,0.8,0.46875,0.25,1.0,NaN,0.785714,0.823529

# Predicting

In [5]:
samp = samp.drop(['C/semester', 'Combined Score', 'Score based Rating'], axis = 1)
samp = samp.reindex(columns = ['total sessions', 'sess/popday', 'Number of Blocks', 'Block/pday',
       'Avergae Block size', 'Norm Block', 'Early Sessions', 'Late/day',
       'Avg Break'])

In [6]:
rt.feedback(samp)

Overall, Its good
Some Ideas, in order of most impactful/reliable to least:
The blocks are in order
The timetable likely has too many sessions outside of the optimal learning zone (10AM to 3PM), consider adjustments there
The issue is likely not related to the nature of this specific course
the breaks seem to be in order, not too large or frequent. but breaks are often consequential, not causal of issues

1

# The Bad one

In [7]:
badsamp = pd.read_csv('csv/sampleB.csv')

In [8]:
badsamp

,index,Code,Courses,Units,TIME,M,TU,W,TH,F
0,0,ISM 201,"Introduction to Audio, Video & Graphics Editin...",2,9-10AM,Lab 1 -ISM 202,ASABA- GST 202,Lab 2 - ISM 209,Lab 2 - ISM 211,"Lab 2 - ISM 201 Introduction to Audio, Video ..."
1,1,ISM 202,Media Production Processes,3,10-11AM,Lab 1 -ISM 202,ASABA- GST 202,Lab 2 - ISM 209,ASABA- ENT 201,"Lab 2 - ISM 201 Introduction to Audio, Video &..."
2,2,ISM 205,Freehand Sketches,2,11-12AM,Lab 1 -ISM 202,-,Lab 2 - ISM 211 Introduction to Database System,ASABA- ENT 201,Lab 2 - ISM 205 Freehand Sketches
3,3,ISM 207,Digital Colour Technology,2,12-1PM,-,-,Lab 2 - ISM 211 Introduction to Database System,-,Lab 2 - ISM 205 Freehand Sketches
4,4,ISM 209,Web-Based Technologies & Multimedia,3,1-2PM,-,-,-,JALINGO - ISM 207,-
5,5,ISM 211,Introduction to DataBase System,3,2-3PM,JALINGO - ISM 213,-,-,JALINGO - ISM 207,ASABA- GST 201
6,6,ISM 213,Culture and Critical Analysis,2,3-4PM,JALINGO - ISM 213,-,-,-,ASABA- GST 201
7,7,GST 201,Communication in English III,2,4-5PM,Lab 2 - ISM 209,-,-,-,-
8,8,GST 202,Philosophical Anthropology,2,5-6PM,-,-,-,-,-
9,9,ENT 201,Entrepreneurship I,2,6-7PM,-,-,-,-,-

In [9]:
badsamp = rt.timetable_to_values(badsamp)
badsamp = rt.de_nan(badsamp)
badsamp = rt.normnew(table1,badsamp)
badsamp = badsamp.drop(['C/semester', 'Combined Score', 'Score based Rating'], axis = 1)
badsamp = badsamp.reindex(columns = ['total sessions', 'sess/popday', 'Number of Blocks', 'Block/pday',
       'Avergae Block size', 'Norm Block', 'Early Sessions', 'Late/day',
       'Avg Break'])

c:\Users\bolup\OneDrive\Documents\Projizzles\Rating.py:164: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace(np.nan, 0)

In [10]:
badsamp

,total sessions,sess/popday,Number of Blocks,Block/pday,Avergae Block size,Norm Block,Early Sessions,Late/day,Avg Break
1,0.823529,0.785714,0.714286,0.6,0.475,0.25,1.0,0.5625,0.380952

In [11]:
rt.feedback(badsamp)

Overall, Its poor
Some Ideas, in order of most impactful/reliable to least:
The blocks are rating poorly, which means that there are too many classes grouped together, too frequently. Consider adding breaks to split them up or moving a period to a less congested day
The timetable likely has too many sessions outside of the optimal learning zone (10AM to 3PM), consider adjustments there
This course or semester is likely harder to create timetables for, you might want to cosider using up the free day(if it exists), or adjusting the overall balance between the days
the breaks seem to be in order, not too large or frequent. but breaks are often consequential, not causal of issues

0